
PoketraVy-backoffice/.vs/PoketraVy/v16/.suo
*.dll
/PoketraVy-frontoffice/obj/Debug
/PoketraVy-frontoffice/bin
/PoketraVy-frontoffice/obj
/PoketraVy-backoffice/obj/Debug
PoketraVy-backoffice/obj/Debug/net5.0/PoketraVy-backoffice.csproj.AssemblyReference.cache
PoketraVy-frontoffice/obj/project.assets.json
