@model PoketraVy_frontoffice.Models.MouvementCreationViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Creation</h1>

<h4>Mouvement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Mouvement.IdCategorieUtilisateurBudget" class="form-control" readonly="readonly" />
            <label asp-for="categorie" class="control-label">Categorie</label>
            <select asp-for="categorie" class="form-control" id="categorySelect">
                <option value="">--Selectionner--</option>
                @foreach (var category in Model.Categories)
                {
                <option value="@category">@category</option>
                }
            </select>
            <div class="form-group">
                <label asp-for="IdBudget" class="control-label"></label>
                <select asp-for="IdBudget" class="form-control" id="budgetSelect">
                    @foreach (var budget in Model.ActiveBudgets)
                    {
                    <option value="@budget.ID">@budget.Remarque</option>
                    }
                </select>
                <span asp-validation-for="IdBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mouvement.Designation" class="control-label"></label>
                <input asp-for="Mouvement.Designation" class="form-control" />
                <span asp-validation-for="Mouvement.Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mouvement.montant" class="control-label"></label>
                <input asp-for="Mouvement.montant" class="form-control" />
                <span asp-validation-for="Mouvement.montant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mouvement.daty" class="control-label"></label>
                <input asp-for="Mouvement.daty" class="form-control" id="datyInput"/>
                <span asp-validation-for="Mouvement.daty" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary w-25"><i class="bi bi-plus-circle-dotted"></i> Creer</button>
            </div>
        </form>
    </div>
</div>

<div class="row mt-5">
    <a asp-action="Index"><i class="bi bi-arrow-return-left"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");

}

<script>
    $(document).ready(function () {
        document.addEventListener("DOMContentLoaded", function () {
            var datyInput = document.getElementById("datyInput");
            var today = new Date().toISOString().slice(0, 10);
            datyInput.value = today;
        });

        $('#categorySelect, #budgetSelect').change(function () {
            var categoryName = $('#categorySelect').val();
            var IdBudget = $('#budgetSelect').val();

            console.log(categoryName, IdBudget);
            if (categoryName && IdBudget) {
                $.ajax({
                    url: '/api/MouvementApi/GetCategorieIdByName',
                    data: { name: categoryName },
                    success: function (categoryId) {
                        $.ajax({
                            url: '/api/MouvementApi/GetCategorieUtilisateurBudgetId',
                            data: { Categorie: categoryId, IdBudget: IdBudget },
                            success: function (data) {
                                console.log(data);
                                $('#Mouvement_IdCategorieUtilisateurBudget').val(data);
                            },
                            error: function () {
                                alert('Error retrieving data');
                            }
                        });
                    },
                    error: function () {
                        alert('Error retrieving category ID');
                    }
                });
            }
        });
    });
</script>
}
