@page
@model PoketraVy_backoffice.Pages.Mouvements.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Mouvement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Mouvement.ID" />
            <div class="form-group">
                <label asp-for="Mouvement.IdCategorieUtilisateurBudget" class="control-label"></label>
                <input asp-for="Mouvement.IdCategorieUtilisateurBudget" class="form-control" />
                <span asp-validation-for="Mouvement.IdCategorieUtilisateurBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mouvement.Designation" class="control-label"></label>
                <input asp-for="Mouvement.Designation" class="form-control" />
                <span asp-validation-for="Mouvement.Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mouvement.montant" class="control-label"></label>
                <input asp-for="Mouvement.montant" class="form-control" />
                <span asp-validation-for="Mouvement.montant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mouvement.daty" class="control-label"></label>
                <input asp-for="Mouvement.daty" class="form-control" />
                <span asp-validation-for="Mouvement.daty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
