@page
@model PoketraVy_backoffice.Pages.Budgets.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Budget</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Budget.Montant" class="control-label"></label>
                <input asp-for="Budget.Montant" class="form-control" />
                <span asp-validation-for="Budget.Montant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget.Daty" class="control-label"></label>
                <input asp-for="Budget.Daty" class="form-control" />
                <span asp-validation-for="Budget.Daty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget.DatyFinPrevisionnel" class="control-label"></label>
                <input asp-for="Budget.DatyFinPrevisionnel" class="form-control" />
                <span asp-validation-for="Budget.DatyFinPrevisionnel" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Budget.Etat" /> @Html.DisplayNameFor(model => model.Budget.Etat)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Budget.Remarque" class="control-label"></label>
                <input asp-for="Budget.Remarque" class="form-control" />
                <span asp-validation-for="Budget.Remarque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
